@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");
$primaryColor: rgb(34, 34, 34);
$secondaryColor: #ffc132;
$primaryColorTransparent: rgba(0, 0, 0, 0.35);
$textLabel: rgb(138, 138, 138);
$black: rgb(0, 0, 0);
$grey-transparent: rgba(128, 128, 128, 0.523);
$white: rgb(255, 255, 255);
$logo-grey: rgb(144, 144, 144);
$bg-color: rgba(0, 0, 0, 0.2);
$border-box: #f6921e;
$bg-color-transparent: rgba(0, 0, 0, 0.15);
$bg-slider: #565859;
$bg-slider-checked: #b2b7ba;
$bg-slider-before: #afafaf;
$text-initials: #767676;
$pure-grey: grey;
$pure-white: white;
$dirty-white: #dddddd;

$bg-color-modal: rgba(0, 0, 0, 0.75);
$bg-modal: #222222;
$bg-footer: #373737;
$grey: #888888;
$transparent-black: rgba(0, 0, 0, 0.25);

$bg-right: #171717;
$pure-black: black;
$transparent-pure-black: rgba(0, 0, 0, 0);
$border-color: rgba(212, 212, 212, 0.5);
$calendar-indicator: #505050;
$tag-item: #616161;
$select-hour: rgba(212, 212, 212, 0.5);

$light-blue: lightblue;
$row-color: #3d3d3d;

$transparent-semi-black: rgba(14, 14, 14, 0);
$border-internal-form: #909090;

$bg-room-card: #f2f2f2;
$h1-card: #414141;
$logoData: url("../icons/date\ 1.svg");
